:root {
  --pink: hsl(322, 100%, 66%); /* Primary color */
  /* Neutral colors */
  --very-pale-cayn: hsl(193, 100%, 96%);
  --vdk-cayn: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.heading-font-family {
  font-family: 'Poppins', sans-serif;
}



